extends layout

block content
  .vh-100.d-flex.align-items-center.justify-content-center.bg-dark.text-white
    .text-center
      if error
        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
          | #{error}
          button(type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close')
      .card.bg-dark.border.border-warning.border-3
        .card-body.m-4
          h1.text-warning.mb-4 Create a username 😎
          form(method="post" action="/register")
            .mb-3
              input(type="text" class="form-control" name="username" id="username" placeholder="Username" required)
            .d-grid.gap-2
              button(type="submit" class="btn btn-lg btn-warning") Join Room


